body {
  color: white;
  font-family: sans-serif;  
  background: #1d2a35;
  margin:0;
}

.aboutTitle {
    text-align:center;
}
#aboutBlockLeft {
    
}
#aboutLinks {
    list-style: none;
    text-decoration: none;
}
#links {
    background:black;
    color:white;
}
#linkedin {
    list-style-image: url('https://th.bing.com/th/id/R.248909efd0ba579bfa687e0b65362478?rik=fS%2btW%2fUIfp1a5w&riu=http%3a%2f%2ffindicons.com%2ffiles%2ficons%2f1982%2fsocial_me%2f60%2flinkedin.png&ehk=C6rw%2fg3rU1DLs5y9gPp3q7b7dVbtLBrp11xNU4MsCgw%3d&risl=&pid=ImgRaw&r=0');
}
#aboutLinks a {
    text-decoration:none;
    color: white;
}
td {
    border:solid;
}
.emptyCell{
    color:gray;
   
}
.box-main{
  align-items:center;

  color: white;
  text-align: center;
  font-weight: bold;
}
.question{
  align-items:center;
  color:white;
  text-align:center;
  font-weight:bold;
  padding-top: 5px;
}
.kana-question{
  align-items:center;
  color:white;
  text-align: center;
  font-weight: bold;
  padding-top: 100px;
}
#start-button-id{
  padding-top: 3%;
  align-items:center;
  color:white;
  text-align: center;
  font-weight: bold;
  
}
#start-button-id input {
   
    background-color: #1d2a35;
    margin: 5px;
    color:white;
    font-size: 18px;
    font-weight:bold;
    cursor:pointer;

}

#quizList {
}
#question{
  display: block;
  align-items:center;
  color:white;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}
#answer-form{
  display: none;
  align-items:center;
  color:white;
  text-align: center;
  font-weight: bold;
}
#results{
    display:none;
    align-items:center;
    color:white;
    text-align:center;
    font-weight:bold;
}
.title{
    margin:50px;
}

/* learn styling*/
#learn-content h3 {
    display:grid;
    text-align:center;

}
#learn-paragraph {
    text-align:center;
    margin: 30px;
    
}

.dakuten {
    color:crimson;
}
.handakuten {
    color:darkorange;
}
#nasalRow {
    color:springgreen;
}

.irregular {
    color:springgreen;
}

#legend h3,p {
    display:flex;
    justify-content:center;
    
}
#listIrregular {
    display:grid;
    justify-content:center;
}

/* character markings*/
.kanji{
    
    color:crimson;
    display:inline;
    font-size:20px;


}
.hiragana {
    color: darkorange;
}
.katakana{
    color:springgreen;
}

#notification{
    color:gray;
    font-style: italic;
}

/* navigation */
.pinButton1 {
    position: absolute;
    bottom: 0;
    transform: translatex(0%);
    background-color: #1d2a35;
    

}

.projectList {
    color:green;
    list-style:none;
}

    /* Seperates the two navigation blocks and fills between them */
.header{
    background-color:black;
}
#nav {

    display:flow-root;
    
    height:80px;
    padding-top:0px;
    margin-top:-14px;

}
/*keeps left navigation box to the left*/
.nav-content-left {
    display:flex;
    list-style-type:none;
    justify-content: left;
    flex-wrap: wrap;
    
    font-weight:bold;
    

}
.nav-left{
    float:left;
}
/*keeps right navigation box to the right */
.nav-right {
    float:right;
}
.nav-content-right {
    display:flex;
    list-style-type:none;
    justify-content: right;
    flex-wrap: wrap;
   
    font-weight:bold;
    
}
.nav-item {
    padding: 1em;
    
}
.nav-item a {
    text-decoration: none;
    color:white;
    
}

/* Adds highlight to nav links */
#nav li {
    font-size:20px;
}
#nav a:hover {
    
    color: orange;
}




/*button styling */

input[type=button]:hover {
    border-radius: 10px;
    
}

input[type=button] {
    border-radius: 5px;
    border-width: 0px;
    width: 8%;
    border-color: white;
    
    color: black;
    font-weight: normal;
    font-family:sans-serif;
}
input[type=text]{
  color:slategray;
  font-weight: 100; 
  
  

}

.quizButtons {
    background-color:orange;
}



/*Table styling learn.html*/

#hiragana_table{
    display: flex;
    justify-content:center;

}
#hiragana_table td{
    padding: 10px;
}
#katakana_table {
    display: none;
    justify-content: center;
}

#katakana_table td {
    padding: 10px;
 }


/*Table Switch*/
td{
    cursor: pointer;
}
#hiraganaButton {
    color: orange;
    border: solid 5px orange;
    padding: 5px;
    cursor: pointer;
}
#katakanaButton {
    color: gray;
    border: solid 5px gray;
    padding: 5px;
    cursor: pointer;
}
#katakanaButton:hover {
    color:springgreen;
    border-color:springgreen

}
#hiraganaButton:hover {
    color:orange;
    border-color:orange;
}
#tableSwitch {
    display:flex;
    justify-content: center;
}

#titleHiragana {
    color:orange;
}
#titleKatakana {
    color:springgreen;
}


/* Quiz Selection */

#indexHiraganaButton {
    color: gray;
    border: solid 5px gray;
    padding: 5px;
    cursor: pointer;
}
#indexKatakanaButton{
    color:gray;
    border: solid 5px gray;
    padding: 5px;
    cursor: pointer;
}
#quizChoice{
    display: flex;
    justify-content: center;
}
.choiceSpan {
    margin: 1%;
}

#indexHiraganaButton:hover{
    color:orange;
    border-color: orange;
}

#indexKatakanaButton:hover{
    color:springgreen;
    border-color: springgreen;
}

#katakanaQuizList{
    display:none;
    color:springgreen;
    border-color:springgreen;
}
#quizList{
    display:none;
}